* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


section { 
    height: 100vh;
    background: rgb(22,22,22);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    color: rgb(235,235,235)
}

svg {
    cursor: pointer;
}

body{
    font-family: sans-serif;
}
